body {
  margin: 0;
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}

.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;

  
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
}


.flexContainer{
     border-radius: 10px;
    display: flex;
    flex-direction: row; 
font-size: small;
padding: auto;
margin: 80px;
color: white;
background-color: #373738;
}

   

.myskills{
  background-color: #373738;
    
    height: auto;
}



.myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: #EBEBEB;
    
  }
  .workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 750px 750px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }
  



.myWork{
    background-color: gray;
    padding: 80px;
    text-align: center;
    color: white;

}



h3{ text-align: center;
color: black;}
h2{text-align: center;
    color: #EBEBEB;
}
h1{ text-align: center;
}


  /* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  text-align: center;
  

}
.flexContainer div {
  width: 33%;
  padding: 25px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color:gold;
    border: solid 1px #c3c3c3;
  }
  
  #panel1, #flip1 {
    padding: 5px;
    color: black;
    text-align: center;
    background-color:gold;
    border: solid 1px #c3c3c3;
  }

  #panel2, #flip2 {
    padding: 5px;
    color: black;
    text-align: center;
    background-color:gold;
    border: solid 1px #c3c3c3;
  }

  #panel3, #flip3{
    padding: 5px;
    color: black;
    text-align: center;
    background-color:gold;
    border: solid 1px #c3c3c3;
  }

  #panel3 {
    padding: 50px;
    display: none;}
  #panel2 {
    padding: 50px;
    display: none;}
  #panel1 {
    padding: 50px;
    display: none;}
  #panel {
    padding: 50px;
    display: none;}


h3{ color: black;}
     
html {
    scroll-behavior: smooth;
  }

.ok{ text-align: center;}